.asset-r {
    padding: 20px;
}
.assetbox {
    background: white;
    padding: 15px;
}
.searchbox {
    margin-bottom: 15px;
}
.searchbox input {
    padding: 8px;
    width: 250px;
}
.assettable {
    width: 100%;
    border-collapse: collapse;
}
.assettable th,
.assettable td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
.status {
    padding: 4px 7px;
    font-size: 11px;
}
.assigned {
    background: #dff4e8;
}
.available {
    background: #e5f0ff;
}
.repair {
    background: #fff0d5;
}
.assettable i {
    color: blue;
    margin-right: 18px;
}
.asset-bottom {
    text-align: center;
    margin-top: 15px;
}
.pagination span {
    padding: 5px 8px;/
}
.asset-box {
    animation: fadeIn 5s ease;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}